.parent{
}

.sidebar{
    -fx-background-color:#333645;

}

#container{
    -fx-background-image: url("/images/background.jpg");
    -fx-background-size: cover;
}
.btns{
    -fx-background-color: transparent;
}
.btns:hover{
    -fx-background-color: #202332;
    -fx-cursor: hand;
}
.profilePicture{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: firebrick;
    -fx-background-radius: 5;
}
